{% extends "ap2.j2" %}

{% block summary %}

<p>
	Het <a href="https://overheid.vlaanderen.be/kaderdecreet-bestuurlijke-handhaving-kbh">Kaderdecreet Bestuurlijke Handhaving (2019)</a>
	voorziet in de ontwikkeling van een informatiesysteem om bestuurlijke sancties te verzamelen, 
	zodat deze informatie geraadpleegd kan worden door verschillende organisaties en diensten, en dit over de verschillende overheidsniveaus heen.
	Deze semantische datastandaard beschrijft een informatiemodel dat aan de basis kan liggen van een dergelijk Bestuurlijk Sanctieregister.
</p>



<p>
	Het startpunt van het model is het Feit, dat de handelingen of nalatigheden van een betrokkene beschrijft, waarbij een zekere Rechtsbron wordt overtreden. Deze betrokkene kan zowel een Geregistreerde Persoon als een Geregistreerde Organisatie betreffen.
</p>

<p>
	Naast de relevante persoons- en organisatiegegevens van de betrokkene (identificatienummers, contactgegevens, domicilie/vestiging, etc.) , structureert men ook informatie over de Locatie van het Feit. Deze kan verschillende vormen aannemen naargelang de specifieke context. Zo worden locatiegegevens van Adressen, Percelen, Gebouweenheden en Wegsegmenten gestructureerd bijgehouden. Daarnaast heeft men ook de mogelijkheid om de Locatie via geografische coördinaten of via een vrij tekstveld te capteren.
</p>

<p>
	De bovenstaande informatie betreft de feitomschrijving. Vervolgens kan een Geregistreerde Organisatie over dit Feit een Bestuurlijke Beslissing nemen. Deze beslissing vindt zijn neerslag in een (authentiek) Stuk waarin de beslissing is neergeschreven, bv. de beslissingsfiche of het beslissingsdocument. (We verwijzen naar OSLO Dossier voor de verdere uitmodellering van Stukken in o.a. Representaties.) 
</p>

<p>
	Vervolgens modelleren we de Beslissingen verder uit in meer detail. Het gaat hier over de OnmiddelijkeInning, BeslissingTotBestuurlijkSepot, BeslissingTotBestuurlijkOpsporingsonderzoek, BeslissingTotBestuurlijkeVervolging en SanctieBeslissing. 
</p>

<p>
	De BeslissingTotBestuurlijkeVervolging kan leiden tot een Verval van de Sanctiemogelijkheid door Betaling van een Geldsom, dan wel tot een SanctieBeslissing. 
</p>

<p>
	Tenslotte is er de SanctieBeslissing welke een Bestuurlijke Sanctie kan opleggen. Deze bevat een omschrijving van de Sanctie en een verwijzing naar de Rechtsbron op basis waarvan gesanctioneerd wordt. Daarnaast kan ook informatie omtrent opschorting en uitstel worden uitgewisseld. De Bestuurlijke Sanctie valt uiteen in een BestuurlijkeGeldboete, UitsluitingVanSteun of Verbeurdverklaring.
</p>

{% endblock %}
